<article>
    <header>
        <h1>{{ include.title | default: page.title }}</h1>
    </header>
    <p>Welcome to "Coding Room" – your go-to destination for insightful blog posts on the world of coding and programming. Created by <a href="https://me.codingroom.in/">Badal Kumar</a>, this website serves as a hub for those eager to delve into the intricacies
        of programming through engaging and informative content.</p>

    <p>As you navigate through "Coding Room," you'll discover a treasure trove of articles crafted to inspire, educate, and empower readers of all levels of expertise. From beginner-friendly tutorials to in-depth analyses of advanced coding concepts, this
        website covers a wide array of topics designed to cater to the diverse interests and needs of the programming community.</p>

    <p>Whether you're seeking practical coding tips, exploring the latest trends in technology, or simply looking for inspiration for your next project, "Coding Room" has something for you.</p>

    <p>Stay updated with the latest posts and immerse yourself in the exciting world of programming. Welcome to "Coding Room" – where learning meets inspiration, and passion fuels creativity. Happy exploring!
    </p>
</article>