<article>
    <header>
        <h1><a href="/about/">About</a></h1>
    </header>
    <p>
        Welcome to <strong>Coding Room</strong>, your premier destination for high-quality coding tutorials and resources. Whether you’re a beginner just starting your coding journey or an experienced developer looking to expand your skills, Coding Room
        has everything you need to succeed.
        <!-- Read More -->
    </p>
    <div style="text-align:center"><img alt="Coding Room" src="/assets/images/icons/cr.png" /></div>

    <h2 id="what-is-coding-room">What is Coding Room?</h2>
    <p>Coding Room is a dedicated platform designed to provide comprehensive coding tutorials and resources for learners of all levels. Our mission is to make coding accessible and enjoyable for everyone, regardless of their background or experience level.</p>

    <h2 id="what-we-offer">What We Offer</h2>
    <ul>
        <li><strong>Tutorials</strong>: Dive into our extensive library of coding tutorials covering a wide range of languages, frameworks, and topics.</li>
        <li><strong>Resources</strong>: Access cheat sheets, code snippets, and other helpful resources to enhance your learning experience.</li>
        <li><strong>Beginner-Friendly</strong>: Our tutorials are designed with beginners in mind, making it easy for anyone to learn the basics of coding.</li>
        <li><strong>Advanced Topics</strong>: For more experienced developers, we offer advanced tutorials to help you take your skills to the next level.</li>
        <li><strong>Regular Updates</strong>: Stay up-to-date with the latest coding trends, news, and developments in the tech industry.</li>
    </ul>

    <h2 id="get-started-today">Get Started Today!</h2>
    <p>Getting started with Coding Room is easy:</p>
    <ol>
        <li><strong>Explore</strong>: Browse through our library of tutorials and resources to find topics that interest you.</li>
        <li><strong>Learn</strong>: Dive into the world of coding with our beginner-friendly tutorials or challenge yourself with advanced topics.</li>
        <li><strong>Practice</strong>: Apply what you’ve learned by working on coding projects and exercises.</li>
        <li><strong>Stay Updated</strong>: Follow us on social media to stay informed about new tutorials and updates.</li>
    </ol>

    <p>Whether you’re looking to learn the basics of coding, expand your skillset, or stay updated with the latest trends, Coding Room is here to support you every step of the way.</p>


    <p>Learn, Innovate and Create, Happy coding!</p>
</article>