<article class="posts-by-tag">
    <header>
        <h1><a href="/categories/">Categories</a></h1>
    </header>
    <ul class="tag-post-list">
        {% for category in site.categories %} {% capture tag_name %}{{ category | first }}{% endcapture %}
        <li>
            <h3 class="tag-header" id="{{tag_name}}">{{ tag_name | capitalize }}</h3>
            <ul>
                {% for post in site.categories[tag_name] %}
                <li>
                    <h4><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h4>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</article>