<article>
    <header>
        <h1>Privacy Policy</a>
        </h1>
    </header>
    <p><strong>Last Updated:</strong> 30 April 2024</p>
    <p>Thank you for visiting Coding Room. This Privacy Policy explains how we collect, use, and protect information about you when you visit our website.</p>

    <h3>Information We Collect</h3>
    <p>We collect email addresses of individuals who voluntarily subscribe to our newsletter or wish to receive updates from codingroom.in. Apart from email addresses, we do not collect any personally identifiable information.</p>

    <p>Additionally, we collect information about your visit to codingroom.in through Google Analytics, a web analytics service provided by Google, Inc. This information includes:</p>
    <ul>
        <li>Your IP address</li>
        <li>The type of browser and device you are using</li>
        <li>The pages you visit on our site</li>
        <li>The time and duration of your visit</li>
        <li>Other statistics related to your use of our website</li>
    </ul>
    <p>Google Analytics does not provide us with access to personally identifiable information such as your name, email address, or contact information.</p>


    <h3>Use of Information</h3>
    <p>The email addresses collected are used solely for the purpose of sending newsletters, updates, or other communications related to codingroom.in. We do not share, sell, or distribute email addresses to third parties.</p>

    <p>The information collected through Google Analytics is used to analyze trends, track user navigation patterns, and gather demographic information about our website visitors. This helps us improve the content and user experience of codingroom.in.</p>

    <h3>Data Security</h3>
    <p>We take appropriate measures to protect the security of your email addresses and ensure they are not misused, accessed, or disclosed without authorization.</p>

    <h3>Third-Party Links</h3>
    <p>codingroom.in may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of any third-party sites you visit.</p>

    <h3>Cookies</h3>
    <p>codingroom.in uses cookies provided by Google Analytics to analyze website traffic. You can opt-out of Google Analytics tracking by installing the Google Analytics Opt-out Browser Add-on.</p>

    <h3>Changes to This Privacy Policy</h3>
    <p>We reserve the right to update or change our Privacy Policy at any time. Any changes will be posted on this page, and the date of the last update will be revised accordingly.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="{{site.external.[0].url}}">{{site.external.[0].title}}</a>.</p>

    <p>By using codingroom.in, you consent to the terms of this Privacy Policy.</p>
</article>