---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  
  Happy coding!

  <hr>

  Stay tuned for more exciting tutorials and resources from Coding Room. Follow us on <a target="_blank" href="https://www.instagram.com/roomofcode/">Instagram</a> for more updates!

  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
